<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <label>氏名（漢字）</label><br>
      <%= f.label :姓 %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        <%= f.label :名 %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %><br>
        <label>氏名（カナ）</label><br>
        <%= f.label :セイ %>
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
        <%= f.label :メイ %>
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %><br>
        <%= f.label :電話番号 %><br />
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %><br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <%= f.label :郵便番号 %><br>
        <%= f.text_field :post_number, autofocus: true, autocomplete: "post_number" %><br>
        <%= f.label :住所 %><br>
        <%= f.text_area :address, autofocus: true, autocomplete: "addresss" %><br><br>
        <h1>配送先の設定</h1><br>
        <%= f.fields_for :deliveries do |d| %>
                            <%= render "delivery_fields", :f => d %>
                            <% end %>
                            <div class="deliver">
                            <%= link_to_add_association '配送先を追加する',f, :deliveries %>
                        </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<%=render 'footer/footer'%>
