<%= render 'header/manager_head'%>
<div class="container">
  <div class="row">
     <div class="col-xs-12">
      <h1>編集</h1>
      <%= form_for(@review, url: {action: 'update'}) do |f| %>
	    <table class ="edit">
	     <tr>
         <td>アルバム名</td>
         <td><%= f.collection_select :product_id, Product.all, :id, :name %></td>
       </tr>
       <tr>
         <td>ユーザー名</td>
         <td><%= f.collection_select :user_id, User.all, :id, :first_name %></td>
       </tr>
       <tr>
         <td>投稿日時</td>
         <td><input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00"></td>
       </tr>
       <tr>
         <td>本文</td>
         <td><%= f.text_field :title %></td>
         <td><%= f.text_field :main_sentence %></td>
       </tr>
       </table>
       <div class="A">
      	 <%= f.submit '送信する' ,class: "button" %>
         <%= link_to 'キャンセル',admin_reviews_path,class: "back" %>
       </div>
     <% end %>
     </div>
    </div>
</div>
<%=render 'footer/footer'%>