<%= render 'header/manager_head'%>
<div class="container">
  <div class="row">
    <% if flash[:notice] %>
    <div class="flash">
     <%= flash[:notice] %>
    </div>
   <% end %>
      <h1>レビュー一覧</h1>
       <div class="show_review_groups">
       	 <% @reviews.each do |review| %>
            <div class="show_review_content">
             <div class="col-xs-4">
              <div>
              	ユーザー名
            	<%= review.user.last_name %><%= review.user.first_name %>
             </div>
             <div>
             	アルバム名
             	<%= review.product.name %>
             </div>
            </div>
            <div class="col-xs-8">
             <div lass = "review-right">
              <%= review.created_at.strftime("%Y-%m-%d") %>
             </div>
             <div>
             	<%= link_to "編集", edit_admin_review_path(review.id),class: "review-right" %>
             	<%= link_to "削除", admin_review_path(review.id), method: :delete,"data-confirm"=>"本当に削除しますか？",class: "review-right"%>
             </div>
            </div>
             <div class = "review-title">
             	<%= review.title %>
              <%= review.main_sentence %>
             </div>
            </div>
          <% end %>
      </div>
    </div>
</div>
<%=render 'footer/footer'%>