<header class="after_login">
    <div class="container">
      <div class="row">
         <div class="col-xs-8">
       <nav class="navbaar navbar-left admin-right">
        <%= link_to image_tag("2_Flat_logo_on_transparent_97x73.png", class: "imagetag"), new_admin_manager_session_path %>
        <%= link_to "管理者ページ", new_admin_manager_session_path,class: "page" %>
       </nav>
      </div>
         </div>
    </div>
  </header>
  <div class="container" style = "margin-top: 30px">
　　　<h2 style = "font-size:50px; padding-left:30px">ログイン</h2>
      <div class="btn-wrapper" style = "display: flex;
  flex-direction: column;
  min-height: 100vh;">
          <div class="row">
            <div class = "col-xs-6 col-xs-offset-3">
　　　　       <%= form_for(resource, as: resource_name, url: session_path(resource_name))do |f| %>
             <h4 style = "text-align: center; margin-top:50px;">メールアドレス</h4>
             <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "email_field"%>
            </div>
          </div>
          <div class="row">
            <div class = "col-xs-6 col-xs-offset-3">
             <h4 style = "text-align: center; margin-top:40px;">パスワード</h4>
             <%= f.password_field :password, class: 'password_field' %>
           </div>
          </div>
          <div class="row">
           <div class="actions col-xs-2 col-xs-offset-5">
           <%= f.submit "ログイン",class: "login" %>
          </div>
　　　　    <% end %>
      </div>
    </div>
  </div>
  <footer style="margin-top: auto;">
  <div class="container">
    <div class="row">
      <div class="#">
        <p class="copy">2019 kon</p>
      </div>
    </div>
  </div>
 </footer>
</div>
