
<%= render 'header/manager_head'%>
<div class="container">
  <div class="row">
     <div class="bt col-xs-12">
      <main>
      	<h1 crass = "top">トップページ</h1>
		<div class="step-box">
			<%=link_to "商品管理", admin_products_path,class: "title" %>
	    </div>
	    <div class="step-box">
			<%=link_to "ユーザー管理", admin_users_path,class: "title" %>
		</div>
		<div class="step-box">
			<%=link_to "レビュー管理", admin_reviews_path,class: "title" %>
		</div>
		<div class="step-box">
			<%=link_to "受注管理", admin_order_histories_path,class: "title" %>
		</div>
		<div class="step-box">
			<%=link_to "アーティスト管理", admin_artists_path,class: "title" %>
		</div>
		<div class="step-box">
			<%=link_to "レーベル管理", admin_labels_path,class: "title" %>
		</div>
		<div class="step-box">
			<%=link_to "ジャンル管理", admin_genres_path,class: "title" %>
		</div>
	  </main>
	 </div>
	</div>
</div>
<%=render 'footer/footer'%>