<div class="nested-fields">
<%= f.label :姓 %>
<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
<%= f.label :名 %>
<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
<%= f.label :郵便番号 %>
<%= f.text_field :post_number, autofocus: true, autocomplete: "delivery.post_number" %>
<%= f.label :住所 %>
<%= f.text_area :address, autofocus: true, autocomplete: "delivery.addresss" %>
<%= f.label :電話番号 %><br />
<%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
<%= link_to_remove_association "削除", f %>
</div>