<%= render 'header/user_head', user: @user %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>登録情報編集画面</h1>
			<%= form_for(@user) do |f| %>
			<label>氏名（漢字）</label>
			<%= f.label :姓 %>
		    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
		    <%= f.label :名 %>
		    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
		    <label>氏名（カナ）</label>
		    <%= f.label :セイ %>
		    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
		    <%= f.label :メイ %>
		    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
		    <%= f.label :電話番号 %><br />
    		<%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
    		<%= f.label :メールアドレス %><br />
    		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    		<%= f.label :パスワード（6文字以上） %>
		    <% if @minimum_password_length %>
		    <em>(<%= @minimum_password_length %> characters minimum)</em>
		    <% end %><br />
		    <%= f.password_field :password, autocomplete: "new-password" %>
		    <%= f.label :パスワード確認 %><br />
    		<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    		<%= f.label :郵便番号 %>
    		<%= f.text_field :post_number, autofocus: true, autocomplete: "post_number" %>
    		<%= f.label :住所 %>
    		<%= f.text_area :address, autofocus: true, autocomplete: "addresss" %>
    		<%= f.fields_for :deliveries do |d| %>
                            <%= render "delivery_fields", :f => d %>
                            <% end %>
                            <%= link_to_add_association '配送先を追加する',f, :deliveries %>
    		<%= f.submit "更新", class: "btn btn-primary" %>
    		<% end %>
    	</div>
    </div>
</div>