<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>編集    <%= @label %></h1><br><br>
			<h2>レーベル名</h2>
			<%= form_for(@label) do |f| %>
			<%= f.text_field :name, autofocus: true %>
			<%= f.submit "更新", class: "btn btn-primary" %>
			<% end %>
			<%= link_to "キャンセル", admin_labels_path class: "btn btn-success" %>
		</div>
	</div>
</div>
