<%=render 'header/manager_head'%>
<div class="container">
  <div class="row">
     <div class="col-xs-12 labels">
     	<% if flash[:notice] %>
         <div class="flash">
          <%= flash[:notice] %>
         </div>
        <% end %>
	<h1>レーベル一覧</h1>
	<%=link_to new_admin_label_path do%><div class="to_add_button">レーベルを追加する</div><% end %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>レーベル名</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @labels.each do |label| %>
			<tr>
				<td><%= label.id %></td>
				<td><%= label.name %></td>
				<td><%= link_to "編集", edit_admin_label_path(label.id),class: "btn btn-success" %></td>
				<td><%= link_to  admin_label_path(label.id), method: :delete do %>
				<td><%=link_to "削除",admin_label_path(label.id),class:"btn btn-danger",method: :delete,"data-confirm"=>"本当に削除しますか？"%></td>
					<% end %>
				</td>
			</tr>
			<% end %>
			<%= paginate @labels, class: "paginate" %>
		</tbody>
	</table>
   </div>
  </div>
</div>
<%=render 'footer/footer'%>