<%= render 'header/user_head', user: @user %>
<div class="container index_page">
	<div class="row">
		<div class="col-xs-12">
            <h1>購入履歴一覧</h1>
            <% @order_histories.each do |order_history|%>
                <div class ="order_history_contents">
                    <div class ="order_group">
                        <div class = "first_group">
                            <p class ="total">総計 : <%= (order_history.sum*1.08).to_i%>円</span>
                            <p>支払い方法:
                                <%case order_history.method_of_pay when 0 %>
                                    銀行振り込み
                                <%when 1 %>
                                    クレジットカード
                                <%when 2 %>
                                    現金引き換え
                                <% end %>
                            </p>
                        </div>
                        <div class = "second_group">
                            <p>名前:<%=order_history.send_to_first_name%> <%=order_history.send_to_last_name%></p>
                            <p>郵便番号:<%=order_history.send_to_post_number%></p>
                            <p>住所:<%=order_history.send_to_address%></p>
                            <p>電話番号:<%=order_history.send_to_telephone_number%></p>
                        <div class = "third_group">
                             <p>購入日   <%= order_history.created_at.strftime("%Y年%m月%d日") %></p>
                             <p>配送状態  <%= order_history.order_status %></p>
                        </div>
                    </div>
                    <%order_history.order_lists.each do|order_list|%>
                        <div class ="order_list_contents">
                           <%= order_list.amount %>枚
<span class="image"><%=attachment_image_tag Product.find(order_list.product_id),:jacket_image,fallback:"no_image.jpg",class:"jacket"%></span>
                            <span class ="title"><%=order_list.product.name%></span>

                            <span class = "price">総計<%=(order_list.price*order_list.amount)%>円</span>

                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<%=render 'footer/footer'%>
