<div class="container confirm_page">
  <div class="row">
    <%= render 'header/user_head', user: current_user %>
    <div class="col-xs-12">
      <h1>ご注文の確認</h1>
  　  <table class = "cart_item_group">
       <tr class = "title">
         <th>商品名</th>
          <th>価格(税込)</th>
          <th>数量</th>
        </tr>
      <% sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr class = "cart_item_content">
          <td>
            <%=attachment_image_tag cart_item.product,:jacket_image,class:"product_pic"%>
            <%= cart_item.product.artist.name%> / <%= cart_item.product.name%>
         </td>
          <td><%= (cart_item.product.price*1.08).to_i %>円</td>
          <% sum += cart_item.product.price %>
         <td>
          <%= cart_item.order_number %>枚
        </td>
        </tr>
      <% end %>
      </table>
      <table class = "datas">
        <tr>
          <th>小計（税込）</th>
          <td> <%= sum.to_s %>円</td>
        </tr>
        <tr>
          <th>送料　</th>
          <td><%= @delivery_fee.to_s %>円</td>
        </tr>
        <tr>
          <th>合計金額（税込）</th>
          <td> <%= (sum + @delivery_fee).to_s %>円</td>
        </tr>
      </table>
      <span class ="btn btn-info purchase"><%=link_to "購入設定画面へ",new_cart_item_path%></span>
    </div>
  </div>
  <%
=begin%>
 <%= javascript_include_tag "number.js" %> 
<%
=end%>
<%=render 'footer/footer'%>
</div>
