<div class="container">
  <div class="row">
    <div class="col-xs-12">
  　  <table>
       <tr>
         <th>商品名</th>
          <th>価格(税込)</th>
          <th>数量</th>
        </tr>
      </table>
      <table>
      <% sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
         <td>
             <%= cart_item.product.artist.name%><br>
             <%= cart_item.product.name%>
         </td>
      <td><%= cart_item.product.price%>円</td>
          <% sum += cart_item.product.price %>
         <td>
          <%= cart_item.order_number %>枚
        </td>
        </tr>
      <% end %>
      </table>
      <div>
      小計　(税込) <%= sum.to_s %>円<br>
      送料 <%= @delivery_fee.to_s %>円<br>
      合計金額　(税込) <%= (sum + @delivery_fee).to_s %>円
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  <%
=begin%>
 <%= javascript_include_tag "number.js" %> 
<%
=end%>
</div>
