<%= render 'header/user_head', user: @user %>
<div class="container index_page">
  <div class="row">
    <div class="col-xs-12">
      <h1>ショッピングカート一覧</h1>
      <table>
        <tr class = "title">
          <th>商品名</th>
          <th>価格(税込み)</th>
          <th>数量</th>
          <th></th>
        </tr>
        <% sum=0%>
        <% @cart_items.each do |cart_item| %>
          <tr class = "cart_item_content">
            <td>
            <%=attachment_image_tag cart_item.product,:jacket_image, :fill, 400, 400,class:"product_pic",style:"width:70px;height:70px;margin-top:20px;margin-bottom:20px;"%>
            <%= cart_item.product.artist.name%> / <%= cart_item.product.name%>
            </td>
            <td><% require "date"
              d1 = Date.today;
              d2 = Date.parse("2019/10/1");
              if d1 < d2 %>
              <span class="contents"><%=(cart_item.product.price*1.08).to_i %>円（税込み）</span>
              <% else %>
              <span class="contents"><%=(cart_item.product.price*1.1).to_i %>円（税込み）</span>
              <% end %></td>
            <td>
              <% if cart_item.order_number > 1 %>
              <%= link_to "-", cart_items_minus_path(cart_item_id: cart_item
              .id), class: "btn btn-primary" %>
              <% end %>
            <span class = "amount"><%= cart_item.order_number %>枚</span>
            <%= link_to "+", cart_items_plus_path(cart_item_id: cart_item
            .id), class: "btn btn-primary" %>
            </td>
            <td><%= link_to "取り消し", cart_item_path(cart_item),method: :delete,class: "pp btn btn-danger" %></td>
          </tr>
          <% require "date"
                d1 = Date.today;
                d2 = Date.parse("2019/10/1");
                if d1 < d2 %>
                <% sum += (cart_item.product.price*1.08).to_i*cart_item.order_number %>
                <% else %>
                <% sum += (cart_item.product.price*1.1).to_i*cart_item.order_number %>
                <% end %>
        <% end %>
      </table>
      <div class = "total">
        合計金額 <%= sum %>円（税込み）
      </div>
      <span class ="btn btn-info purchase"><%= link_to "購入手続きへ",cart_items_confirm_path %></span>
      <%= paginate @cart_items, class: "paginate" %>
    </div>
  </div>
</div>
<%=render 'footer/footer'%>
