<%= render 'header/user_head', user: current_user %>
<div class="container">
  <div class="row">
    <div class="cart col-xs-12">
      <h1>ショッピングカート一覧</h1>
  　  <table>
       <tr>
         <td class="th">商品名</td>
          <td class="th">価格（税込み）</td>
          <td class="th">数量</td>
        </tr>
        <% sum=0%>
        <% @cart_items.each do |cart_item| %>
        <tr>
         <td>
          <%=attachment_image_tag cart_item.product,:jacket_image, :fill, 60, 60,class:"product_pic"%><br>
             <%= cart_item.product.artist.name%><br>
             <%= cart_item.product.name%><br>
         </td>
         <td><%= (cart_item.product.price*1.08).to_i %>円</td>
         <td>
          <% if cart_item.order_number > 1 %>
          <%= link_to "-", cart_items_minus_path(cart_item_id: cart_item
          .id), class: "btn-square" %>
          <% end %>
          <%= cart_item.order_number %>枚
          <%= link_to "+", cart_items_plus_path(cart_item_id: cart_item
          .id), class: "btn-square" %>
        </td>
        </tr>
        <% sum+=(cart_item.product.price*1.08*cart_item.order_number).to_i%>
        <% end %>
      </table>
      <div>
      合計金額 <%= sum %>円（税込み）
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cart col-xs-12">

      <%= link_to "購入手続きへ",cart_items_confirm_path %>
    </div>
  </div>
</div>
