<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>ショッピングカート一覧</h1>
  　  <table>
       <tr>
         <th>商品名</th>
          <th>価格(税込)</th>
          <th>数量</th>
        </tr>
      </table>
      <table>
        <tr>
         <td><%= @cart_item.product.jacket_image%>
             <%= @cart_item.product.artist%>
             <%= @cart_item.product.name%>
         </td>
        </tr>
         <tr>
         <td><%= @cart_item.product.price%>円</td>
        </tr>
         <tr>
         <td>
          <select id="number"><option value="0">--</option></select>枚
        </tr>
      </table>
      <div>
      合計金額　(税込) <%= @order_history.sum %>円
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%=f.submit 'ご購入手続き' %>
    </div>
  </div>
</div>
