<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>お届け先住所の選択</h2>
  <div class="row">
    <div class="col-xs-12">
      <h2>配送設定</h2>
      <%= f.collection_select :address_id, Adress.all, :id, :name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table>
       <tr>
        <th>名前(漢字)</th>
        <th>姓</th>
        <td><%=f.text_field :first_name%></td>
        <th>名</th>
        <td><%=f.text_field :last_name%></td>
        <th>お届け先住所</th>
        <td><%=f.text_field :post_numbere%></td>
        <td><%=f.text_field :address_id%></td>
        <th>電話番号</th>
        <td><%=f.text_field :telephone_number%></td>
       </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>お支払い方法の選択</h2>
       <label><%= f.radio_button :method_of_pay, "銀行振込" %> 銀行振込 </label>
       <label><%= f.radio_button :method_of_pay, "クレジットカード" %> クレジットカード</label>
       <label><%= f.radio_button :method_of_pay, "代金引換" %> 代金引換</label>
      <%end%>
    </div>
  </div>
    </div>
  </div>
</div>
