<%= render 'header/manager_head'%>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <div class="product_title_group">
            <h1>商品の追加</h1>
            <%=link_to (admin_product_path) do%><div class="to_button">取消</div><% end %>
            </div>
            <table class="main_contents">
                <tr>
                <th>ID</th>
                <th><%=@product.id%></th>
                </tr>
                <tr>
                <td>アルバム</td>
                <td><%=@product.name%></td>
                </tr>
                </table>
                <%=form_with(url: admin_arrived_product_path, method: :patch, local: true)do |f|%>
                    <table class="add_group">
                        <tr>
                            <td>新規入荷数</td>
                            <td><%=f.text_field :addStock%></td>
                        </tr>
                    </table>
                    <div class="product_add_ending_group">
                        <%=f.submit do%><div class="to_button">入荷処理</div><% end %>
                        <%=link_to (admin_product_path) do%><div class="to_button">取消</div><% end %>
                    </div>
                <% end %>
    	</div>
    </div>
</div>
<%=render 'footer/footer'%>