<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <% if @product.errors.any? %>
                <div id="error_explanation">
                    <h2><%= @product.errors.count %>errors prohibited this obj from being saved</h2>
                </div>
            <% end %>
            <% @product.errors.full_messages.each do |message| %>
                <div class="form-error">
                    <%= message %>
                </div>
            <% end %>
            <div class="product_title_group">
                <h1>商品の編集</h1>
                <%=link_to (admin_products_path) do%><div class="to_button">キャンセル</div><% end %>
            </div>
            <%=form_for(@product, url: {action: 'update'}) do |f|%>
                <table class="main_contents">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>アルバム名</td>
                        <td><%=f.text_field :name%></td>
                    </tr>
                    <tr>
                        <td>価格（税抜）</td>
                        <td><%=f.text_field :price%></td>
                    </tr>
                        <td>アーティスト名</td>
                        <td><%= f.collection_select :artist_id, Artist.all, :id, :name %></td>
                    </tr>
                    <tr>
                        <td>レーベル名</td>
                        <td><%= f.collection_select :label_id, Label.all, :id, :name %></td>
                    </tr>
                    <tr>
                        <td>ジャンル名</td>
                        <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
                    </tr>
                    <tr>
                        <td>在庫数</td>
                        <td><%=f.text_field :stock_quantity%>　枚</td>
                    </tr>
                    <tr>
                        <td>ステータス</td>
                        <td><%= f.select :is_selling,[["販売中",true],["販売停止中",false]] %></td>
                    </tr>
                    <tr>
                        <td>発売日</td>
                        <td>
                            <%= raw sprintf(f.datetime_select(:released_date, {
                            default:        DateTime.now,# デフォルトの年
                            use_two_digit_numbers: true,
                            date_separator: '%s',
                            datetime_separator: '%s',
                            time_separator: '%s'
                            },
                            { class: 'date-select' }
                            ),
                            '年 ', '月 ', '日 ', '時 ') + '分' %>
                        </td>
                    </tr>
                    <tr>
                        <td>曲名</td>
                        <td>
                            <div class="productGroup">
                                <%= f.fields_for :discs do |d| %>
                                    <%= render "disc_fields", :f => d %>
                                <% end %>
                                <%= link_to_add_association 'add disc',f, :discs %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>ジャケット</td>
                        <td><%= f.attachment_field :jacket_image %></td>
                    </tr>
                    </table>
                    <div class="product_add_ending_group">
                        <%=f.submit '登録する'%>
                    </div>
                <% end %>
        	</div>
        </div>
    </div>
</div>