<%= render 'header/manager_head'%>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <% if flash[:notice] %>
                <div class="flash">
                    <%= flash[:notice] %>
                </div>
            <% end %>
            <div class="product_title_group">
                <h1>商品一覧</h1>
                <%=link_to new_admin_product_path do%><div class="to_add_button">商品を追加する</div><% end %>
            </div>
            <%@products.each do |product|%>
                <%=attachment_image_tag product,:jacket_image, size: '100x100', format: 'jpeg',fallback: "/images/noimage.jpg",class: "product-images"%>
                <p><%=link_to "入荷",admin_arrive_product_path(product),class: "pp btn btn-default" %><%=link_to "詳細",admin_product_path(product),class: "pp btn btn-info" %><%=link_to "編集",edit_admin_product_path(product),class: "pp btn btn-success" %>
                <%= link_to "削除", admin_product_path(product.id), method: :delete,"data-confirm"=>"本当に削除しますか？",class: "pp btn btn-danger" %><span class = "ID">ID:<%=product.id%></span></p>
                <table class="alone_contents_group">
                    <tr><td class = "pro">アルバム名</td><td class = "pro2"><%=product.name%></td></tr>
                    <tr><td class = "pro">アーティスト名</td><td class = "pro2"><%=product.artist.name%></td></tr>
                    <tr><td class = "pro">価格</td><td class = "pro2"><%=product.price%></td></tr>
                    <tr><td class = "pro">在庫数</td><td class = "pro2"><%=product.stock_quantity%></td></tr>
                    <tr><td class = "pro">ステータス</td><td class = "pro2">
                         <% if product.is_selling == true %>
                                販売中
                         <% else %>
                                販売中止
                         <% end %>
                    </td></tr>
                </table>
            <% end %>
            <%= paginate @products, class: "paginate" %>
        </div>
    </div>
</div>
<%=render 'footer/footer'%>