<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <div class="product_title_group">
            <h1>商品一覧</h1>
            <%=link_to new_admin_product_path do%><div class="to_add_button">商品を追加する</div><% end %>
            </div>
            <div class="main_contents_group">
            <%@products.each do |product|%>
                <%=attachment_image_tag product,:jacket_image,:fill,60,60,style:"width:40px;height:40px;"%>
                <table class="alone_contents_group">
                    <tr><td><%=product.name%></td></tr>
                    <tr><td><%=product.artist.name%></td></tr>
                    <tr><td><%=product.price%></td></tr>
                    <tr><td><%=product.stock_quantity%></td></tr>
                    <tr><td><%=product.is_selling%></td></tr>
                </table>
                <div class="contents_menu_group">
                <%=link_to "入荷",admin_arrive_product_path(product) %>
                <%=link_to "編集",edit_admin_product_path(product) %>
                <%=link_to "詳細",admin_product_path(product) %>
                <%=link_to admin_product_path(product.id),method: :delete do%><div class="to_button">削除</div><% end %>
                </div>
            <% end %>
            <%= paginate @products, class: "paginate" %>
            </div>
    	</div>
    </div>
</div>