<%=render 'header/manager_head'%>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class ="administraion-show-title">受注詳細</h1>
			  <%=link_to "編集", edit_admin_order_history_path,class: "links btn btn-success" %>
              <%=link_to "一覧へ", admin_order_histories_path,class: "links btn btn-default" %>
			<h2><%= @order_history.id %></h2>
			<table class="table table-bordered">
				<tr>
					<th class = "th">購入者</th>
					<td class = "td"><%= @order_history.user.last_name + @order_history.user.first_name %></td>
				</tr>
				<tr>
					<th class = "th">購入日</th>
					<td class = "td"><%= @order_history.created_at.strftime('%Y/%m/%d') %></td>
				</tr>
				<tr>
					<th class = "th">送付先住所</th>
					<td class = "td">〒<%= @order_history.send_to_post_number %><br><%= @order_history.send_to_address %></td>
				</tr>
				<tr>
					<th class = "th">送付先氏名</th>
					<td class = "td"><%= @order_history.send_to_last_name + @order_history.send_to_first_name %></td>
				</tr>
				<tr>
					<th class = "th">送付先電話番号</th>
					<td class = "td"><%= @order_history.send_to_telephone_number %></td>
				</tr>
				<tr>
					<th class = "th">商品</th>
					<td class = "td"><%= @order_history.sum %><%= @order_history.sum %><%= @order_history.sum %></td>
				</tr>
            </table>
          </div>
       </div>
</div>
<%=render 'footer/footer'%>