<%=render 'header/manager_head'%>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class ="administraion-show-title">受注詳細</h1>
			<%=link_to "編集", edit_admin_order_history_path,class: "links btn btn-success" %>
			<%=link_to "一覧へ", admin_order_histories_path,class: "links btn btn-default" %>
			<h2><%= @order_history.id %></h2>
			<table class="table table-bordered">
				<tr>
					<th class = "th">購入者</th>
					 <td class = "td"><%= User.find(@order_history.user_id).last_name %> <%= User.find(@order_history.user_id).first_name %></td>
				</tr>
				<tr>
					<th class = "th">購入日</th>
					<td class = "td"><%= @order_history.created_at.strftime('%Y/%m/%d') %></td>
				</tr>
				<tr>
					<th class = "th">送付先住所</th>
					<td class = "td">〒<%= @order_history.send_to_post_number %><br><%= @order_history.send_to_address %></td>
				</tr>
				<tr>
					<th class = "th">送付先氏名</th>
					<td class = "td"><%= @order_history.send_to_last_name + @order_history.send_to_first_name %></td>
				</tr>
				<tr>
					<th class = "th">送付先電話番号</th>
					<td class = "td"><%= @order_history.send_to_telephone_number %></td>
				</tr>
				<tr>
					<th class = "th">商品</th>
						<%sum=0%>
						<%@order_history.order_lists.each do|order_list|%>
							<td class = "td">
								<%=attachment_image_tag order_list.product,:jacket_image,fallback:"/images/no_image.jpg",class: "jacketimage"%>
								アルバム名
								<%=order_list.product.name%>
								枚数
								<%=order_list.amount%>
								小計
								<%=(order_list.amount*order_list.price).to_i%>円
							</td>
						<%sum+=order_list.amount*order_list.price%>
						<% end %>
					</th>
				</tr>
				<tr>
					<th class = "th">合計金額</th>
					<td class = "td"><%=sum%>円</td>
				</tr>
				<tr>
					<th class = "th">送料</th>
					<td class = "td"><%= @order_history.delivery_fee %>円</td>
				</tr>
				<tr>
					<th class = "th">支払い方法</th>
					<td class = "td">
						<%case @order_history.method_of_pay when 0 %>
								銀行振り込み
							<%when 1 %>
								クレジットカード
							<%when 2 %>
								現金引き換え
						<% end %>
					</td>
				</tr>
				<tr>
					<th class = "th">ステータス</th>
					<td class = "td"><%= @order_history.order_status %></td>
				</tr>
            </table>
		</div>
	</div>
</div>
<%=render 'footer/footer'%>
