<html>
  <head>
    <%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibrato</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

	<header class="after_login">
		<div class="container">
			<div class="row">
		     <div class="col-xs-8">
			 <nav class="navbaar navbar-left admin-right">
			 	<%= link_to image_tag("2_Flat_logo_on_transparent_97x73.png", class: "imagetag"), admin_root_top_path %>
				<%= link_to "管理者ページ", edit_admin_manager_path(current_admin_manager),class: "page" %>
			 </nav>
			</div>
		     <div class="col-xs-4">
			 <nav class="navbar navber-right admin-left">
			 	<ul class="navbar navbar-left">
					<li class="mane1"><%= current_admin_manager.last_name %></li>
					<li class ="mane2"><%= link_to "ログアウト", destroy_admin_manager_session_path, method: :delete, class: "dele" %></li>
				</ul>
			</nav>
	     </div>
         </div>
		</div>
	</header>
  </body>
 </html>
