<html>
  <head>
    <%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibrato</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

	<header class="after_login">
		<div class="container">
			<nav class="navbaar navbar-left">
				<%= link_to "Vibrato", root_path, class: "logo" %>
			</nav>
			<nav class="navbar navber-right">
				<ul class="navbar navbar-left">
					<li><%= manager %></li>
					<li><%= link_to "ログアウト", destroy_manager_session_path, method: :delete %></li>
				</ul>
			</nav>
		</div>
	</header>
  </body>
 </html>