<html>
  <head>
    <%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibrato</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
  </head>

  <body>

	<header class="after_login">
		<div class="container">
		  <div class="row">
		     <div class="col-xs-3">
			<nav class="navbar navbar-left">
				<%= link_to image_tag("/images/2_Flat_logo_on_transparent_97x73.png", class: "imagetag"), root_path %>
			</nav>
		  </div>
		  <div class="col-xs-9">
			<nav class="navbar navber-right">
				<ul class="navbar navbar-right">
					<li class = "left"><%= link_to "いいねランキング", products_ranking_path, class: "bts" %></li>
					<% if user_signed_in? %>
					<li class = "left"><%= link_to current_user.last_name, user_path(current_user.id), class: "bts aaa" %></li>
					<li class = "left"> <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "bts aaa" %></li>
					<% else %>
					<li class = "left"><%= link_to "新規登録", new_user_registration_path, class: "bts aaa" %></li>
					<li class = "left"><%= link_to "ログイン", new_user_session_path, class: "bts aaa" %></li>
					<% end %>
					<li class = "left icon"><%= link_to cart_items_path do %>
						<i class="fas fa-cart-arrow-down bts dd"></i>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
		</div>
		</div>
	 </div>
	</header>
  </body>
 </html>
