<%=render 'header/manager_head'%>
<div class="container">
  <div class="row">
     <div class="col-xs-12">
     <h1><strong>編集</strong></h1>
　　　<%= form_for(@user, url: {action: 'update'}) do |f| %>
	    <table class ="edit">
	     <tr>
         <td>ユーザーID</td>
         <td><%= @user.id %></td>
       </tr>
       <tr>
         <td>名前(漢字)</td>
         <td>姓<%=f.text_field :first_name%></td>
         <td>名<%=f.text_field :last_name%></td>
       </tr>
       <tr>
         <td>名前(カナ)</td>
         <td>姓<%=f.text_field :first_name_kana%></td>
         <td>名<%=f.text_field :last_name_kana%></td>
       </tr>
       <tr>
         <td>住所</td>
         <td><%= f.text_field :address_id %></td>
       </tr>
       <tr>
         <td>メールアドレス</td>
         <td><%= f.text_field :email %></td>
       </tr>
       <tr>
         <td>郵便番号</td>
         <td><%= f.text_field :post_number %></td>
       </tr>
       <tr>
         <td>電話番号</td>
         <td><%= f.text_field :telephone_number %></td>
       </tr>
        </tr>
       </table>
       <div class="A">
      	 <%= f.submit '送信する' ,class: "button" %>
         <%= link_to 'キャンセル',admin_user_path,class: "back" %>
       </div>
     <% end %>
   </div>
  </div>
</div>
