<%=render 'header/manager_head'%>
<div class="container">
 <div class="row">
    <div class="col-xs-12">
     <h1><strong class = "admin-user-show-title">詳細</strong></h1>
      <div class ="admin-link">
       <%=link_to "編集", edit_admin_user_path,class: "link" %>
       <%=link_to "一覧へ", admin_users_path,class: "link" %>
      </div>
      <table class = "aa">
       <tr>
        <th>ユーザーID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>名前(漢字)</th>
        <td><%= @user.first_name %> <%= @user.last_name %></td>
      </tr>
      <tr>
        <th>名前(カナ)</th>
        <td><%= @user.first_name_kana %><% @user.last_name_kana %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @user.post_number %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @user.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
       </tr>
      </table>
    </div>
  </div>
  </div>