<%= stylesheet_link_tag    'products/product_index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'header/user_head', user: @user %>
<div class="serachBox">
    <p>商品を探す</p>
    <%= form_tag(products_search_path,:method => 'get') do %>
        <%= text_field_tag :search %>
        <%=button_tag:'submit' do %>
            <i class="fa fa-search"></i>
        <%end%>
    <% end %>
    <p class="search_explain">※商品購入、いいね、レビューにはログインが必要です。</p>
</div>
<div class="mainContentsGroup">
    <%@products.each do |product| %>
        <div class="mainContents">
            <%=attachment_image_tag product,:jacket_image,class:"product_pic"%>
            <br><span class="contents"><%=product.name%></span>
            <br><span class="contents"><%=product.artist.name%></span>
            <br><span class="contents"><%=product.price %>円（税込み）</div>
        </div>
    <% end %>
</div>
<%=render 'footer/footer'%>