<%= stylesheet_link_tag    'products/product_index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'header/user_head', user: @user %>
<div class="container serachBox">
    <div class="row">
        <div class="col-xs-12">
            <% if flash[:notice] %>
            <div class="flash">
                <%= flash[:notice] %>
            </div>
            <% end %>
            <p>商品を探す</p>
            <%= form_tag(products_search_path,:method => 'get') do %>
            <%= text_field_tag :search %>
            <%=button_tag:'submit' do %>
            <i class="fa fa-search"></i>
            <%end%>
            <% end %>
            <p class="search_explain">※商品購入、いいね、レビューにはログインが必要です。</p>
            <%@products.each do |product| %>
            <div class="mainContentsGroup">
            <%= link_to product_path(product) do %>
            <%=attachment_image_tag product,:jacket_image,class:"product-image"%>
            <br><span class="contents"><%= product.favorites.count %>いいね</span>
            <br><span class="contents"><%=product.name%></span>
            <br><span class="contents"><%=product.artist.name%></span>
            <% require "date"
            d1 = Date.today;
            d2 = Date.parse("2019/10/1");
            if d1 < d2 %>
            <br><span class="contents"><%=(product.price*1.08).to_i %>円（税込み）</span>
            <% else %>
            <br><span class="contents"><%=(product.price*1.1).to_i %>円（税込み）</span>
            <% end %>
            <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>
<%=render 'footer/footer'%>
