<%= stylesheet_link_tag    'products/product_show', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<div class="show_main_contents">
    <div class="show_main_left">
        <p>いいね</p>
    </div>
    <div class="show_main_right">
        <%=@product.name %>
        <%=@product.artist.name %>
        <%=@product.price %>円 （税込み）
        <%=@product.label.name %>
        <%=@product.genre.name %>
        <% if user_signed_in? %>
        <%= link_to 'カートに入れる',cart_items_path,method: :post %>
        <% else %>
        <%= link_to 'カートに入れる', new_user_session_path %>
        <% end %>
    </div>
</div>
<div class="reviewGroup">
    <%=form_for [@product, @review] do |f|%>
        <%=f.text_field :title %>
        <%=f.text_area :main_sentence %>
        <%=f.submit '送信する' %>
    <% end %>
    <div class="show_review_group">
        <%=@reviews.each do |review| %>
            <div class="show_review_contents">
                <%=review.title %>
                <%=review.main_sentence %>
            </div>
        <% end %>
    </div>
    <!--５件ずつ表示する昨日はjQueryによって実装-->
</div>