<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>編集    <%= @review %></h1><br><br>
			<h2>タイトル</h2>
			<%= form_for(@review) do |f| %>
			<%= f.text_field :title, autofocus: true %>
			<h2>本文</h2>
			<%= f.text_area :main_sentence, autofocus: true %><br>
			<%= f.submit "更新", class: "btn btn-primary" %>
			<% end %>
			<%= link_to "キャンセル", product_reviews_path  %>
		</div>
	</div>
</div>