<div class="container">
	<% @reviews.each do |review| %>
	<div class="row">
		<div class="col-xs-1">
			<h4><%= review.id %></h4>
		</div>
		<div class="col-xs-9">
			<div class="review_head">
				<div class="review_head_left">
					<p><%= review.user.last_name + review.user.first_name %></p><br>
					<p><%= review.product.name %></p>
				</div>
				<div class="review_head_right">
					<p><%= review.created_at %></p>
					<p>
						<%= link_to "編集     ", edit_review_path(review.id) %>
						<%= link_to review_path(review.id), method: :delete do %>
						<a data-confirm="本当に消しますか？" class="btn-sm btn-danger" rel="nofollow">削除</a>
						<% end %>
					</p>
				</div>
			</div>
			<div class="review_body">
				<p><%= review.title %></p>
				<p><%= review.main_sentence %></p>
			</div>
		</div>
	</div>
	<% end %>
	<%= paginate @reviews, class: "paginate" %>
</div>
